.primary{
    background-color: aqua;
    color: blueviolet;
}

.sec{
    background-color: blanchedalmond;
    color: yellowgreen;
}

.font-xmu{
    font-size: 72px;
}

.success{
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}